# These dirs & files not getting ignored for some reason in docker container. Actually they are. But I'm using a volume in docker-compose which basically mounts it to /app dir of the container. Changes in these file inside the container also changes from this root project directory. So it feels its not getting ignored. But actually it is, in the image created by Dockerfile.
.vscode
_fresh_django.txt
.git
.gitignore
.salahenv
Dockerfile
docker-compose.yaml
.dockerignore
.dbdata
**/migrations
**/__pycache__
**/.vscode
**/*.vscode
**/*.log
**/*.log.*
**/*.pyc
static
staticfiles
media
